html {
    font-size: 14px;
    --carouselArrowWidth-: 3em;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  --dark-color: #000000;
  --light-color: #ffffff;
  --dark-grey-color:#282828;
  --mid-grey-color:#808080;

  --accent-color: #d9c800;
  --foreground-color:var(--light-color);
  --background-color:var(--dark-grey-color);

  color:var(--foreground-color);
  background-color:var(--background-color);
}



.clamp-overview {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.clamp-title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

h5.card-title {
    height: 3.1rem;
}

.card {
    border: 1px solid #fff;
    background-color:var(--background-color);
}

.btn-full {
    width: auto;
}

.container-iframe {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
}

.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

/*Carousel Attributes*/
/*#carouselExampleDark {
    margin-left: 50px;
    margin-right: 50px;
}*/

.carousel-control.left {
    margin-left: -100px;
}

.carousel-control.right {
    float:right;
}

.carousel-on-top {
    z-index:10;
}












.carousel-control {
    width: var(--carouselArrowWidth-);
    margin: 0em;
}

.carousel-control-prev, .glyphicon-chevron-left {
    left: -28px;
}

.carousel-control-next, .glyphicon-chevron-right {
    right:-25px;

}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

/**
 * carousel control style
 */
.carousel-control {
    opacity: 1;
    color: #ccc;
    text-shadow: none;
}

.carousel-control:hover,
.carousel-control:focus {
    color: #999;
}

.carousel-inner {
    margin:auto;
}